body {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #f4f4f4, #e8f5e9);
  color: #333;
  scroll-behavior: smooth;
  transition: all 0.3s;
}

header {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  z-index: 1000;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

header .logo img {
  height: 50px;
}

header nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

header nav ul li {
  margin: 0 15px;
}

header nav ul li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #2d6a4f;
}

header nav ul li a i {
  margin-right: 8px;
}

/* Estilos para a seção hero */
.hero {
  text-align: center;
  padding: 50px 20px;
  background: url("/img/banner.jpg") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero-content {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  z-index: 1;
}

.hero img {
  max-width: 100%;
  height: auto;
  margin: 20px 0;
}

.hero h1 {
  font-size: 60px;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.hero p {
  font-size: 24px;
  margin-bottom: 30px;
  margin-top: 6cm; /* Adiciona margem superior de 6 centímetros */
}

.cta-button {
  background: #40916c;
  color: #fff;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.cta-button:hover {
  background: #1b4332;
}

.section {
  padding: 60px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.section:nth-child(even) {
  background: #f0f0f0;
}

.section .content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.section .content .text {
  flex: 1;
  padding: 20px;
}

.section .content .image {
  flex: 1;
  padding: 20px;
}

.section .content .image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.section h2 {
  font-size: 36px;
  margin-bottom: 20px;
}

.section p {
  font-size: 18px;
  max-width: 600px;
  margin: 0 auto 20px;
}

.cta {
  text-align: center;
  margin: 40px 0;
}

.cta a {
  background: linear-gradient(135deg, #2d6a4f, #40916c);
  color: #fff;
  padding: 18px 36px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;
}

.cta a:hover {
  transform: translateY(-5px);
  background: #1b4332;
}

footer {
  background: #fff;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px 0;
  text-align: center;
  border-top: 5px solid #1b4332;
}

.footer-container {
  /* display: flex; */
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.footer-links nav ul li {
  margin: 0 15px;
}

.footer-links nav ul li a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

.footer-links nav ul li a:hover {
  color: #2d6a4f;
}

.footer-bottom {
  text-align: center;
  margin-top: 20px;
}

.footer-bottom p {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
}

/* Testemunhos */
#testimonials {
  background: #e8f5e9;
  padding: 60px 20px;
}

#testimonials .testimonial {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#testimonials .testimonial p {
  font-size: 18px;
  margin: 0;
}

/* Botão de Voltar ao Topo */
.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #2d6a4f;
  color: #fff;
  padding: 10px 15px;
  border-radius: 50%;
  text-align: center;
  display: none;
  transition: background 0.3s;
}

.back-to-top.show {
  display: block;
}

.back-to-top:hover {
  background: #1b4332;
}

/* Navegação fixa no canto superior direito */
.navigation {
  position: fixed;
  top: 20px;
  right: 20px;
  background: rgba(0, 0, 0, 0.8);
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.navigation a {
  color: #fff;
  text-decoration: none;
  margin: 0 12px;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.3s;
}

.navigation a:hover {
  color: #40916c;
}

/* Ajustes para dispositivos móveis */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    text-align: center;
  }
  .content img {
    max-width: 70%;
    margin-bottom: 20px;
  }
}
